@import "foundation";

font-family: 'PT Sans', sans-serif;

h1 {
  color: #0066ff
}

.menu dropdown a {
  line-height: inherit;
  color: #1779ba;
  text-decoration: none;
  cursor: pointer; }
  a:hover, a:focus {

    color: #1468a0; }
  a img {
    border: 0; }

/* centered logo */

.topbar-center-logo {
  background: #2c3840;
}

.topbar-center-logo .menu {
  background: #2c3840;
}

.topbar-center-logo .menu a {
  color: #fefefe;
}

.topbar-center-logo .top-bar-center {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

@media screen and (max-width: 39.9375em) {
  .topbar-center-logo .top-bar-center {
    display: none;
  }
}

.topbar-center-logo-mobile {
  background: #2c3840;
}

.topbar-center-logo-mobile .menu-icon {
  vertical-align: text-top;
}


/* Menu */

.dropdown.menu .submenu {
    border: 0px solid #cacaca;
    background-color: #2c3840;
}

.dropdown.menu .is-active > a {
  background: transparent;
  color: #FFFFFF; }

.menu .menu-text {
    color: #FFFFFF;
   }

.dropdown.menu .has-submenu.is-down-arrow>a::after {
  top: 20px;
}
