@import 'foundation';

body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  background: #fefefe;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  color: #0066ff;
}

h6 {
  font-family: 'PT Sans', sans-serif;
}

h7 {
  font-family: 'PT Sans', sans-serif;
}

.menu dropdown a {
  line-height: inherit;
  color: #1779ba;
  text-decoration: none;
  cursor: pointer;
}
a:hover,
a:focus {
  color: #1468a0;
}
a img {
  border: 0;
}

/* centered logo */

.topbar-center-logo {
  background: #2c3840;
}

.topbar-center-logo .menu {
  background: #2c3840;
}

.topbar-center-logo .menu a {
  color: #fefefe;
}

.topbar-center-logo .top-bar-center {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

@media screen and (max-width: 39.9375em) {
  .topbar-center-logo .top-bar-center {
    display: none;
  }
}

.topbar-center-logo-mobile {
  background: #2c3840;
}

.topbar-center-logo-mobile .menu-icon {
  vertical-align: text-top;
}

/* Menu */

.dropdown.menu .submenu {
  border: 0px solid #cacaca;
  background-color: #2c3840;
}

.dropdown.menu .is-active > a {
  background: transparent;
  color: #ffffff;
}

.menu .menu-text {
  color: #ffffff;
}

.dropdown.menu .has-submenu.is-down-arrow > a::after {
  top: 20px;
}

.hero-section {
  background: url('https://farm9.staticflickr.com/8886/18131958745_47433be3b8_b.jpg')
    60% no-repeat;
  background-size: cover;
  height: 80vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero-section .hero-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}
