@import 'foundation';
@include foundation-everything;
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web:400,600,700');
@import '_settings';
@import 'sass/_variables';

h1, h2, h3 {
  font-family: $head-font-family;
  font-weight: 700;
}

h4, h5 {
  font-family: $head-font-family;
  font-weight: 600;
}

h6 {
  font-family: $body-font;
}

body {
  padding: 0;
  margin: 0;
  font-family: $body-font;
  line-height: 1.5;
  color: #FFFFFF;
  background: #2c3840;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.li {
  color: #1779ba;
}

.menu dropdown a {
  line-height: inherit;
  color: #1779ba;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:focus {
  color: #1468a0;
}

a img {
  border: 0;
}

.img-circle {
    border-radius: 50%;
    margin: 0 auto;
    width: 200px;
}

.title-bar {
    background: #2c3840;
}

.thumb {
  width: 12rem;
  height: 12rem;
}

.button {
  display: inline-block;
  text-align: center;
  margin: auto;
}

.parallax {
    background: url("http://www.lisaeriksson.net/lisas_middleman_site/tokyo_background_01.jpg") 80% no-repeat;
    min-height: 40vh;
    min-width: 10vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* centered logo */

.topbar-center-logo {
  background: #2c3840;
}

.topbar-center-logo .menu {
  background: #2c3840;
}

.topbar-center-logo .menu a {
  color: #fefefe;
}

.topbar-center-logo .top-bar-center {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

@media screen and (max-width: 39.9375em) {
  .topbar-center-logo .top-bar-center {
    display: none;
  }
}

.topbar-center-logo-mobile {
  background: #2c3840;
}

.topbar-center-logo-mobile .menu-icon {
  vertical-align: text-top;
}

.center {
  text-align: center;
  vertical-align: middle;
  margin: auto;
  width: 100%;
  list-style-type: none;
}

.logo {
  width: 4rem;
  height: 4rem;
  padding: .75em;
}

/* Menu */

.dropdown.menu .submenu {
  border: 0px solid #cacaca;
  background-color: #2c3840;
}

.dropdown.menu .is-active > a {
  background: transparent;
  color: #ffffff;
}

.menu .menu-text {
  color: #ffffff;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dropdown.menu .has-submenu.is-down-arrow > a::after {
  top: 20px;
}

/* .hero-section {
  background: url("http://www.lisaeriksson.net/lisas_middleman_site/tokyo_background_02.jpg") 70% no-repeat;
  background-size: cover;
  height: 60vh;
  opacity: 0.4;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
} */

.hero-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 1px #0a0a0a;
  margin: auto;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.footer {
  background: #2c3840;
  color: #ffffff;
  padding: 3em;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.row-index {
  max-width:200rem;
  margin-left: auto;
  margin-right: auto;
}

.row {
  padding: .5em;
}

.row-padding {
  padding-top: 1em;
}

.cell.small-4 {
  padding-bottom: 2em;
}
