@import '/foundation/foundation';
@import 'sass/_variables';


body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #FFFFFF;
  background: #2c3840;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: 'PT Sans', sans-serif;
}

.li {
  color: #FFFFFF;
}

.menu dropdown a {
  line-height: inherit;
  color: #1779ba;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:focus {
  color: #1468a0;
}

a img {
  border: 0;
}

.img-circle {
    border-radius: 50%;
    margin: 0 auto;
    width: 275px;
}

/* centered logo */

.topbar-center-logo {
  background: #2c3840;
}

.topbar-center-logo .menu {
  background: #2c3840;
}

.topbar-center-logo .menu a {
  color: #fefefe;
}

.topbar-center-logo .top-bar-center {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

@media screen and (max-width: 39.9375em) {
  .topbar-center-logo .top-bar-center {
    display: none;
  }
}

.topbar-center-logo-mobile {
  background: #2c3840;
}

.topbar-center-logo-mobile .menu-icon {
  vertical-align: text-top;
}

.center {
  text-align: center;
  vertical-align: middle;
  margin: auto;
  width: 100%;
  list-style-type: none;
}

/* Menu */

.dropdown.menu .submenu {
  border: 0px solid #cacaca;
  background-color: #2c3840;
}

.dropdown.menu .is-active > a {
  background: transparent;
  color: #ffffff;
}

.menu .menu-text {
  color: #ffffff;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dropdown.menu .has-submenu.is-down-arrow > a::after {
  top: 20px;
}


.hero-section {
  background: url("http://www.lisaeriksson.net/lisas_middleman_site/tokyo_background_01.jpg") 70% no-repeat;
  background-size: cover;
  height: 60vh;
  opacity: 0.4;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section .hero-section-text {
  color: #fefefe;
  /*text-shadow: 1px 1px 1px #0a0a0a;*/
}

.footer {
  background: #2c3840;
  color: #ffffff;
  padding: 3em;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.row-index {
  max-width:200rem;
  margin-left: auto;
  margin-right: auto;
}

.row-padding {
  padding-top: 3em;
}

.cell.small-4 {
  padding-bottom: 2em;
}
