
.row
  .row-padding
    .grid-container.full
      .grid-x.grid-margin-x
        -data.about.each do |about|
          %h3.center= about[:name]
          %h6= about[:description]
          .small-6.cell
          .small-6.cell
