.row
  .row-padding
    .grid-container.full
      %a{name: "about"}
      .cell.auto
        -data.about.each do |about|
          %h3.center.row-padding= about[:name]
          %h5.center.row-padding= about[:title]
          %p= about[:description]
      .cell.small-4
      .grid-x
        .cell
        #{mail_to 'lisa.c.eriksson@gmail.com', "Contact me", :cc => "lisa.c.eriksson@gmail.com", class: "button"}
