
%footer
  -# .row
  .footer.footer-nav.row.expanded.collapse
    .footer-nav-left
    .footer-nav-center
      %ul.menu
        = link_to 'LinkedIn', 'https://www.linkedin.com/in/lisaceriksson/'
        = link_to 'Behance', 'https://www.behance.net/lisaeriksson'
        %p
          #{mail_to 'lisa.c.eriksson@gmail.com', "Email", :cc => "lisa.c.eriksson@gmail.com"}

    .footer-nav-right
