
%footer
  -# .row  
  .footer.footer-nav.row.expanded.collapse
    .footer-nav-left
    .footer-nav-center
      %ul.menu
        %li
          %a{href: 'http://www.linkedin.com'} LinkedIn
        %li
          %a{href: 'http://www.behance.com'} Behance
        %li
          %a{href: 'http://www.instagram.com'} Instagram
    .footer-nav-right
