-# %title-bar.topbar-center-logo-mobile{'data-hide-for' => 'medium', 'data-responsive-toggle' => 'topbar-center-logo'}
-#   %title-bar-left
-#     %title-bar-title
-#       %img{alt: '', src: 'https://placehold.it/100x39'}
-#   %title-bar-right
-#     %button.menu-icon{'data-toggle': 'topbar-center-logo', type: 'button'}
%div{"data-sticky-container" => ""}
  .title-bar.topbar-center-logo.top-bar.topbar-center-logo{"data-options" => "marginTop:0;", "data-sticky" => "", :style => "width:100%"}
    %ul.menu.vertical.medium-horizontal
      %li.menu-text Lisa Eriksson
      %li.menu-text Designer
      %ul.dropdown.menu{"data-dropdown-menu" => ""}
        -data.sitemap.each do |item|
          %li
            %a{href: "#{item.link}"}
              =item[:title]
            -if item[:title] == 'Dev projects'
              %ul.menu
                -data.projects.each do |project|
                  %a{href: "#{project.link}"}
                    =project[:name]
