---
title: About me
---

.row
  .row-padding
    .img-circle
      = image_tag 'http://www.lisaeriksson.net/lisas_middleman_site/lisaeriksson.jpg', :class => 'img-circle'


  -# .auto-cells
  -# .small-4.cell
  -# .auto-cells
