---
title: Lisa's portfolio site
---

.row-index
  .hero-section
    .hero-section-text
      - data.home_message.each do |home|
        -# %h1= home[:name]
        -# %h3= home[:description]

= partial 'partials/about'
