---
title: Lisa's portfolio site
---

.row
  .hero-section
    .hero-section-text
      - data.home_message.each do |home|
        %h1= home[:name]
        %h3= home[:description]

%row




  -# .medium-6.columns
  -#   %h3 Say hi
  -# .medium-6.columns
  -#   %label
  -#     Name
  -#     %input{placeholder: 'Name', type: 'text'}
  -#   %label
  -#     Email
  -#     %input{placeholder: 'Email', type: 'text'}
  -#   %label
  -#     Message
  -#     %textarea{placeholder: 'holla at a designerd'}
  -#   %input.button.expanded{type: 'submit', value: 'Submit'}
