---
title: Lisa's portfolio site
---

.row-index
  %a{name: "index"}
    .parallax
    -# .hero-section-text
    -#   - data.home_message.each do |home|
        -# %h2= home[:name]
        -# %h3= home[:description]
