---
title: Portfolio page
---

.row
  .row.small-up-2.medium-up-3.large-up-4
    .column
      %img.thumbnail{:src => "https://placehold.it/550x550"}/
      %h5 My Site
    .column
      %img.thumbnail{:src => "https://placehold.it/550x550"}/
      %h5 My Site
    .column
      %img.thumbnail{:src => "https://placehold.it/550x550"}/
      %h5 My Site
    .column
      %img.thumbnail{:src => "https://placehold.it/550x550"}/
      %h5 My Site
    .column
      %img.thumbnail{:src => "https://placehold.it/550x550"}/
      %h5 My Site
    .column
      %img.thumbnail{:src => "https://placehold.it/550x550"}/
      %h5 My Site
    .column
      %img.thumbnail{:src => "https://placehold.it/550x550"}/
      %h5 My Site
    .column
      %img.thumbnail{:src => "https://placehold.it/550x550"}/
      %h5 My Site
    .column
      %img.thumbnail{:src => "https://placehold.it/550x550"}/
      %h5 My Site
    .column
      %img.thumbnail{:src => "https://placehold.it/550x550"}/
      %h5 My Site
    .column
      %img.thumbnail{:src => "https://placehold.it/550x550"}/
      %h5 My Site
    .column
      %img.thumbnail{:src => "https://placehold.it/550x550"}/
      %h5 My Site
