---
Title: Resumé
---

%row
  .row-padding
  -data.projects.each do |projects|
    %grid-x.grid-margin-x
      %small-2.cell
      %small-2.cell= projects[:name]
      %small-2.cell= projects[:description]
      %small-2.cell

  -# .row-padding
  -#   .grid-x.grid-margin-x
  -#     .small-2.cell
  -#       -data.resume.each do |resume|
  -#         %li= resume[:title]
  -#         %small-2.cell
  -#           %li= resume[:details]
  -#         %grid-x.grid-margin-x
  -#           %small-3.cell
  -#           %small-2.cell
  -#             %h6 Job 1
  -#           %small-2.cell Whatever's left!
  -#           %small-2.cell Whatever's left!
