---
Title: Resumé
---

.row
  .row-padding
    .grid-container.full
      .grid-x.grid-margin-x
        .grid-padding-x
        -data.resume.each do |resume|
          .cell.small-4
            %h6= resume[:company]
            %h6= resume[:dates]
          .cell.small-4
            %h6= resume[:role]
          .cell.small-4
            %h6= resume[:details]
